<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
          <h1>Name: <%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
            <div class="caption">Email: <a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
      
    </div>
    <div class="col-md-8">
        <h3><%= user.username %>'s images:</h3>
        <ul>
       <% images.forEach(function(image){ %>
           <li><a href="/images/<%=image.id%>"><%= image.name %></a></li>
      <% }); %>
      </ul>
    </div>
</div>

<% include ../partials/footer %>